<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>

<target name="MuleStudio Accessibility for Jubula" sequenceNumber="22">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.mule.tooling.feature.group" version="3.4.1.201304151037"/>
<repository location="https://corp.bamboo.mulesource.com/browse/TOOLING-STUDIO38/latestSuccessful/artifact/shared/studio-update-site"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.jubula.rc.rcp" version="1.2.2.201209040912"/>
<repository location="http://download.eclipse.org/releases/juno/201303010900"/>
</location>
</locations>
</target>
